* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body {
    height: 100vh;
    background: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chat-container {

    width: 100%;
    max-width: 850px;
    height: 90vh;

    background: #1f2937;
    border-radius: 18px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}


.chat-header {

    padding: 20px;

    background: #111827;

    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.chat-header h1 {
    font-size: 24px;
}


.chat-header span {

    font-size: 13px;
    color: #9ca3af;

}


.chat-header button {

    background: #374151;
    color:white;

    border:none;
    padding:10px 15px;

    border-radius:10px;
    cursor:pointer;

}


.chat-header button:hover {

    background:#4b5563;

}



.chat-box {

    flex:1;

    padding:20px;

    overflow-y:auto;

}



.message {

    margin-bottom:15px;

    display:flex;

}



.message.ai {

    justify-content:flex-start;

}



.message.user {

    justify-content:flex-end;

}



.bubble {

    max-width:70%;

    padding:12px 16px;

    border-radius:15px;

    color:white;

    line-height:1.5;

}



.ai .bubble {

    background:#374151;

}



.user .bubble {

    background:#2563eb;

}



.chat-input-area {

    padding:15px;

    background:#111827;

    display:flex;

    gap:10px;

}



textarea {

    flex:1;

    resize:none;

    border:none;

    outline:none;

    border-radius:12px;

    padding:12px;

    background:#374151;

    color:white;

}



button {

    cursor:pointer;

}



#sendButton {

    background:#2563eb;

    color:white;

    border:none;

    padding:0 20px;

    border-radius:12px;

}



#sendButton:hover {

    background:#1d4ed8;

}



.typing {

    opacity:0.7;

    font-style:italic;

}
HalDo-ai/

│
├── index.html
├── dashboard.html
├── chat.html
│
├── style.css
├── dashboard.css
├── chat.css
│
├── script.js
├── dashboard.js
├── chat.js
│
├── README.md
├── 227E9D20-F8F7-44E9-B194-1F76378888B7.PNG
│
└── images/