*{
box-sizing:border-box;
}


body{

margin:0;
font-family:Arial,sans-serif;
background:#e9eef5;

}


.app{

max-width:600px;
margin:auto;
min-height:100vh;
background:white;
display:flex;
flex-direction:column;

}



header{

background:#1f6feb;
color:white;
text-align:center;
padding:20px;

}



.page{

padding:20px;
flex:1;

}



.hidden{

display:none;

}



.icons{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;

}



.icons button{

height:120px;
border:0;
border-radius:18px;
background:#f1f1f1;
font-size:35px;

}



.icons span{

display:block;
font-size:16px;

}



.chat{

height:350px;
overflow:auto;

}



.message{

padding:12px;
margin:10px;
border-radius:12px;

}



.user{

background:#1f6feb;
color:white;
margin-left:40px;

}



.input-area{

display:flex;
gap:10px;

}



input{

flex:1;
padding:14px;
font-size:16px;

}



button{

border:0;
border-radius:10px;

}



.input-area button{

background:#1f6feb;
color:white;
padding:14px;

}



.delete{

margin-top:15px;
background:#e74c3c;
color:white;
padding:12px;

}



nav{

display:flex;
justify-content:space-around;
border-top:1px solid #ddd;
padding:10px;

}



nav button{

background:white;
font-size:14px;

}