body{

background:#0f172a;

color:white;

font-family:Arial;

padding:30px;

}



.app{


background:#1e293b;

padding:20px;

margin:15px;

border-radius:20px;

text-align:center;

}



button{

background:#2563eb;

color:white;

padding:12px;

border:none;

border-radius:10px;

}