/*
========================================
HalDo AI OS Professional 16.0

Dashboard Design

========================================
*/


.dashboard-panel {


    min-height:

    500px;


}




.dashboard-panel h2 {


    margin-bottom:

    25px;


}






.dashboard-panel .cards {


    margin-top:

    30px;


}






.dashboard-panel .card {


    width:

    250px;


    min-height:

    150px;


    display:

    flex;


    flex-direction:

    column;


    justify-content:

    center;


    align-items:

    center;


}





.dashboard-panel .card h3 {


    margin-bottom:

    15px;


    font-size:

    20px;


}






.dashboard-panel .card p {


    opacity:

    0.8;


}