body {

    margin:0;

    font-family:
    Arial, sans-serif;

    background:#10131a;

    color:white;

}


header {

    text-align:center;

    padding:30px;

}


#apps {

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(150px,1fr));

    gap:20px;

    padding:20px;

}



.app-card {

    background:#1c2330;

    border-radius:20px;

    padding:25px;

    text-align:center;

    cursor:pointer;

    transition:.3s;

}



.app-card:hover {

    transform:scale(1.05);

}



.icon {

    font-size:40px;

}