body {

background:#0f172a;

color:white;

font-family:Arial;

padding:30px;

}


.card {

background:#1e293b;

padding:20px;

margin:15px 0;

border-radius:20px;

}


input,
textarea {

width:90%;

padding:12px;

border-radius:10px;

border:none;

margin:10px;

}



button {

background:#16a34a;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

}