body {

background:#111827;

color:white;

font-family:Arial;

text-align:center;

padding:30px;

}


#chat {

background:#1f2937;

padding:20px;

border-radius:15px;

min-height:150px;

}


input {

padding:12px;

width:70%;

border-radius:10px;

border:none;

}


button {

padding:12px;

margin:10px;

border-radius:10px;

background:#2563eb;

color:white;

border:none;

}